:host([hidden]),::slotted([hidden]) {display:none !important;}
dialog[open] {
  all:unset;
  width:100%; min-height:100vh;
  padding:4rem 0; box-sizing:border-box;
  background:rgba(0,0,0,.9);
}
form {
  position:absolute; inset:0; z-index:-1;
  
  button {
    width:100%; height:100%;
    display:flex; flex-direction:column; justify-content:space-between;
    
    &::before,&::after {
      content: '關閉'; 
      font-size:1.25em; text-align:center;
      color:white;
      line-height:4rem;
      background:rgba(90,90,90,.9);
    }
  }
}
div {
  position:absolute; top:0; left:0;
  height:4rem; width:100%;
  display:flex; justify-content:space-between;
  font-size:1.5em;
  padding:0 .5em; box-sizing:border-box;
  pointer-events:none;
  
  button {pointer-events:initial;}
}
figure {
  margin:.5rem 0;
  font-size:calc(var(--f,1)*1em);
  
  slot {
    display:flex; gap:0 .5rem; 
    overflow-x:scroll;
    
    &.PI-dragged {pointer-events:none;}
  }
}
button {
  all:unset;
  cursor:pointer;
}
