:host([hidden]),::slotted([hidden]) {display:none !important;}
dialog[open] {
  max-width:100%; min-height:max(100%,100vh); max-height:max(100%,100vh);
  padding:4rem 0 0 0; margin:0;
  border:none;
  box-sizing:border-box;
  background:rgba(0,0,0,.9);
}
form, div {
  position:fixed; top:0;
  width:100%; height:4rem;
}
form button {
  width:100%;
  font-size:1.25em; color:white;
  text-align:center; line-height:4rem;
  background:rgba(90, 90, 90, .9);
    
  &::before {content: '關閉'; }
}
div {
  z-index:1;
  display:flex; justify-content:space-between;
  font-size:1.5em;
  padding:0 .5em; box-sizing:border-box;
  pointer-events:none;
  
  button {pointer-events:initial;}
}
figure {
  margin:.5rem 0;
  font-size:calc(var(--f,1)*1em);
  
  slot {
    display:flex; gap:0 .5rem; 
    overflow-x:scroll;
    
    &.PI-dragged {pointer-events:none;}
  }
}
button {
  all:unset;
  cursor:pointer;
}
::slotted(*) {pointer-events:none;}
